
body, html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(98, 98, 222);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#q-card {
    max-width: 50%;
    display: none;
}

#q-header {
    max-width: 50%;
}

section {
    padding: 10px;
}

#submit-form, #high-score-card{ /* hide elements at page load */
    display: none;
}


@media screen and (max-width : 560px) {
    header {
        flex-direction: column;
    }
    header h1 {
        order: -1;
    }
}