
body, html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(98, 98, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
main {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
#q-card {
    max-width: 50%;
}
section {
    background-color: rgb(213, 194, 194);
    padding: 10px;
}

#button-2, #button-3, #button-4, #submit-form{ /* hide elements at page load */
    display: none;
}
