
body, html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(98, 98, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
main {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    background-color: rgb(213, 194, 194);
    padding: 10px;
}

.mult-choice-opt {
    display: block;
}